step_02_concatenate_and_create_csv.py
test_00_comparing_clean_data.py
test_00_comparing_concatenated_data.py
test_00_comparing_new_keywords.py
test_00_comparing_vocabularies.py
test_00_comparing_word_combinations.py
test_00_read_patent_data.py
test_00_reading_patent_numbers.py
test_00_select_test_patents.py
backward_cosine/step_04_cosine_similarity_linear.py
backward_cosine/step_04_cosine_similarity_n_most_similar.py
backward_cosine/step_04_cosine_similarity_n_most_similar_v2.py
backward_cosine/step_05_01_join_cosine_similarity_files.py
backward_cosine/step_06_extract_n_most_similar.py
new_comb/step_04_extract_baseline_vocabulary_of_comb_split.py
new_word/step_80_clean_concatenated_patents_threads.py